.section {
  margin-bottom: var(--pd-24);
}

.wrapper {
  @media (--bp-large) {
    max-width: 260px;
  }
}

.actions {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.tip-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: var(--font-header);
  font-size: 18px;
  font-weight: 300;
}

.tip-text {
  margin-top: 8px;
  color: var(--tw-gray-60);
}
