.section {
  margin-bottom: var(--pd-24);
}

.wrapper {
  @media (--bp-large) {
    max-width: 260px;
  }
}

.wrapper-wide {
  @media (--bp-large) {
    max-width: 460px;
  }
}

.actions {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.tip-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: var(--font-header);
  font-size: 18px;
  font-weight: 300;
}

.tip-text {
  margin-top: 8px;
  color: var(--tw-gray-60);
}

.radio-label {
  font-size: var(--text-14);
  line-height: var(--line-22);
}

.radio-extra {
  display: flex;
  margin-top: var(--pd-12);
  font-size: var(--text-12);
  line-height: var(--line-16);
}

.radio-extra svg {
  width: 60px;
  margin-right: var(--pd-12);
}
