.section {
  margin-bottom: var(--pd-24);
}

.wrapper {
  @media (--bp-large) {
    max-width: 260px;
  }
}

.actions {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.add {
  margin-bottom: var(--pd-24);
}

.next {
  width: 100%;

  @media (--bp-medium) {
    width: auto;
  }
}
