.actions {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  flex-shrink: 0;
  grid-gap: var(--pd-8) var(--pd-12);
}

.card-wrapper {
  display: inline-block;
}

.card {
  @media (--bp-large) {
    max-width: 26vw;
    height: auto;
  }
}

.info-wrapper {
  /* we can't set max-width to .info (with grid) because it breaks layout in some cases */
  max-width: 920px;
}

.info {
  margin-top: var(--pd-24);
}

.frozen-popup {
  width: 306px;
}

.frozen-popup-title {
  margin-bottom: var(--pd-4);
  font-weight: var(--font-700);
}

.title-tag {
  margin-left: 7px;
  font-size: var(--text-14);
  font-weight: var(--font-400);
}
