.actions {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  flex-shrink: 0;
  grid-gap: var(--pd-8) var(--pd-12);
}

.info {
  margin-top: var(--pd-24);
}

.frozen-popup {
  width: 306px;
}

.frozen-popup-title {
  margin-bottom: var(--pd-4);
  font-weight: var(--font-700);
}
