.section {
  margin-bottom: var(--pd-24);
}

.wrapper {
  @media (--bp-large) {
    max-width: 260px;
  }
}

.account {
  &:not(:last-of-type) {
    margin-bottom: var(--pd-24);
  }
}

.button {
  margin-top: var(--pd-24);
}
