.title {
  color: var(--tw-primary-content);
}

.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--pd-8) var(--pd-12);
}

.content {
  padding-top: 0;
}

.tab-tag {
  margin-left: 5px;
}
