.root {
  height: 50px;
  padding: var(--pd-12) var(--pd-16);
  font-family: var(--font-main);
  font-size: var(--text-18);
  border-radius: var(--radius-4);

  & > svg + span,
  & > span + svg {
    margin-left: var(--pd-8);
  }

  &:disabled,
  &.disabled {
    background: var(--tw-gray-30);

    & > span {
      color: var(--tw-black);
    }
  }
}
