.root {
  padding: var(--pd-16);
  background-color: var(--tw-green-65);
  border-radius: 4px;

  &:disabled,
  &.disabled {
    color: var(--tw-black);
    background: var(--tw-gray-30);
    cursor: not-allowed;
  }
}
