.root {
  display: flex;
  align-items: center;
  line-height: var(--line-24);
  vertical-align: middle;
}

.input {
  position: absolute;
  pointer-events: none;
  opacity: 0;

  &:focus + span {
    outline: 2px solid var(--tw-gray-30);
  }
}

.control {
  cursor: pointer;

  @nest .input:checked + & {
    background-color: var(--tw-primary-bg);
    border-color: var(--tw-primary-bg);

    &::after {
      opacity: 1;
    }
  }

  @nest .input:disabled + & {
    background-color: var(--tw-gray-20);
    border-color: var(--tw-gray-30);
    cursor: not-allowed;
  }

  @nest .input:checked:disabled + & {
    background-color: var(--tw-gray-30);
  }
}

.label {
  margin-left: var(--pd-4);
  cursor: pointer;

  @nest .input:disabled + .control + & {
    color: var(--tw-gray-60);
    cursor: not-allowed;
  }
}
