.root {
  display: flex;
  width: 16px;
  height: 16px;
  margin: var(--pd-4);
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background: var(--tw-white);
  border: 1px solid var(--tw-gray-30);
  border-radius: var(--radius-4);
  transition: background-color 0.3s, border 0.3s;

  &::after {
    content: '';
    width: 8px;
    height: 5px;
    margin-top: -2px;
    background: transparent;
    border: 2px solid var(--tw-white);
    border-top: 0;
    border-right: 0;
    transition: opacity 0.3s;
    transform: rotate(-45deg);
    transform-origin: center;
    opacity: 0;
  }
}

.indeterminate {
  &::after {
    width: 10px;
    height: 2px;
    margin-top: 0;
    background: #fff;
    border: 0;
    border-radius: 1px;
    transform: none;
  }
}

.dark {
  &::after {
    border-color: var(--tw-dark-green);
  }
}
