.root {
  display: flex;
  min-height: 100%;
  padding: var(--pd-32) var(--pd-16);
  align-content: baseline;
  flex-direction: column;
  flex-grow: 1;
  background: var(--tw-gray-20);
  gap: var(--pd-24);

  @media (--bp-medium) {
    padding: var(--pd-32) var(--pd-48);
  }

  @media (--bp-large) {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card {
  @media (--bp-large) {
    min-height: 208px;
    flex-basis: 320px;
    flex-grow: 1;
  }
}

.internal-bank-account {
  margin: var(--pd-24) 0 var(--pd-32);
}
