.root {
  display: flex;
  min-height: 100%;
  padding: var(--pd-32) var(--pd-16);
  flex-direction: column;
  flex-grow: 1;
  gap: var(--pd-24);
  background: var(--tw-gray-10);

  @media (--bp-medium) {
    padding: var(--pd-32) var(--pd-48);
  }

  @media (--bp-large) {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card {
  padding: var(--pd-24);
  background: var(--tw-white);
  border-radius: var(--radius-20);

  @media (--bp-large) {
    flex-basis: 320px;
    flex-grow: 1;
  }
}

.card-title {
  margin: 0 0 var(--pd-8);
  font-family: var(--font-header);
  font-size: var(--text-20);
  font-weight: var(--font-400);
}

.card-message {
  margin-bottom: 10px;
  color: var(--tw-gray-60);
}

.card-action {
  margin-top: var(--pd-12);
}

.internal-bank-account {
  margin: 2em 0;
}
