.title {
  margin: 0;
  font: inherit;
  font-size: var(--text-12);
  line-height: 1.33;
  letter-spacing: var(--ls-2);
  text-transform: uppercase;
}

.info {
  margin: var(--pd-8) 0;
  color: var(--tw-gray-60);
}

.total {
  margin-right: var(--pd-8);
  color: var(--tw-primary-content);
  font-size: var(--text-16);
  line-height: 1.5;
}

.wrapper {
  @media (--bp-medium) {
    display: flex;
  }
}

.chart {
  display: flex;
  margin: var(--pd-16) 0;
  align-items: center;
  justify-content: center;

  @media (--bp-medium) {
    margin-right: var(--pd-24);
  }
}

.items {
  display: grid;
  margin: var(--pd-8) 0;
  grid-gap: var(--pd-16);
  flex-grow: 1;

  @media (--bp-medium) {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  @media (--bp-wide) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.item {
  padding: var(--pd-8) var(--pd-16);
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--pd-8);
  align-items: center;
}

.point {
  width: 8px;
  height: 8px;
  background: var(--tw-primary-content);
  border-radius: 50%;
}

.name {
  margin: 0;
  font: inherit;
  font-size: var(--text-12);
  line-height: 1.33;
  letter-spacing: var(--ls-2);
  text-transform: uppercase;
}

.amount {
  display: block;
  margin-top: var(--pd-8);
  font-size: var(--text-20);
}

.children {
  margin-top: var(--pd-2);
  color: var(--tw-gray-60);
  font-size: var(--text-12);
  line-height: 1.33;
}
