.search {
  margin-bottom: var(--pd-24);

  @media (--bp-medium) {
    max-width: 320px;
  }
}

.item {
  display: grid;
  padding: var(--pd-24) 0;
  grid-template-columns: auto 1fr auto;
  grid-gap: var(--pd-12);

  &:not(:last-child) {
    border-bottom: 1px solid var(--tw-gray-30);
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  object-fit: contain;
  border-radius: var(--radius-8);
}

.category {
  font-size: var(--text-16);
  font-weight: var(--font-400);
  line-height: var(--line-24);
}

.date {
  margin-top: var(--pd-2);
  color: var(--tw-gray-60);
  font-size: var(--text-12);
  line-height: var(--line-16);
}

.side {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.time {
  margin: var(--pd-2) var(--pd-8) 0 0;
  color: var(--tw-gray-60);
  font-size: var(--text-12);
  line-height: var(--line-16);
  border-right: 1px solid transparent;
}
