.root {
  display: block;
  border-radius: var(--radius-10);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.number {
  font-family: var(--font-main);
  font-size: var(--text-12);
}

.inactive {
  font-size: var(--text-20);
  letter-spacing: var(--ls-2);
  text-transform: uppercase;
}

.frozen {
  font-size: var(--text-12);
  letter-spacing: var(--ls-2);
  text-transform: uppercase;
}
