.section {
  margin-bottom: var(--pd-24);
}

.wrapper {
  @media (--bp-large) {
    max-width: 260px;
  }
}

.input-help {
  display: flex;
  margin-top: 3px;
  flex-direction: row;
  color: var(--tw-gray-60);
  font-size: 11px;
  line-height: 1.3;
}

.tip-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: var(--font-header);
  font-size: 18px;
  font-weight: 300;
}

.tip-text {
  margin-top: 8px;
  color: var(--tw-gray-60);
}
