.root {
  padding: var(--pd-16);
  background: var(--tw-gray-10);
  border: 1px solid var(--tw-gray-20);
  border-radius: var(--radius-8);
}

.title {
  margin: 0 0 var(--pd-4);
  font-family: var(--font-header);
  font-size: var(--text-12);
  font-weight: var(--font-400);
  line-height: var(--line-16);
  letter-spacing: var(--ls-2);
  text-transform: uppercase;
}

.message {
  display: block;
  margin-bottom: var(--pd-24);
  color: var(--tw-gray-60);
}
