@value v-size-md: 28px;
@value v-size-sm: 24px;
@value v-size-xs: 20px;

.root {
  display: inline-flex;
  height: v-size-md;
  padding: var(--pd-4) var(--pd-8);
  align-items: center;
  justify-content: center;
  color: var(--tw-gray-60);
  vertical-align: middle;
  background: var(--tw-gray-20);
  border: 1px solid var(--tw-gray-30);
  border-radius: var(--radius-16);
}

.sm {
  height: v-size-sm;
  padding: var(--pd-10) var(--pd-8);
}

.xs {
  height: v-size-xs;
  padding: var(--pd-2) var(--pd-4);
  font-size: var(--text-12);
  line-height: 1.33;
}

.success {
  color: var(--tw-green-70);
  background-color: var(--tw-green-10);
  border-color: var(--tw-green-20);
}

.danger {
  color: var(--tw-red-70);
  background-color: var(--tw-red-10);
  border-color: var(--tw-red-20);
}

.warning {
  color: var(--tw-amber-80);
  background-color: var(--tw-amber-10);
  border-color: var(--tw-amber-20);
}

.label {
  font-weight: var(--font-400);
}

.child {
  display: flex;
  align-items: center;
  flex: 1;

  & > span:first-child {
    flex: 1;
  }

  @nest .label + & {
    margin-left: var(--pd-4);
  }
}
