.root {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: var(--pd-16);
  z-index: var(--z-index-messages);
}

.message {
  margin: var(--pd-12);
  transform: translate3d(0, 0, 0);
}
