.root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.decline-reason {
  margin: var(--pd-8) var(--pd-24) 0;
}

.summary {
  display: flex;
  margin: 0 0 var(--pd-24);
  padding: var(--pd-24) 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px dashed var(--tw-gray-40);
}

.amount {
  margin-bottom: var(--pd-2);
  font-family: var(--font-header);
  font-size: var(--text-20);
  font-weight: var(--font-700);
  line-height: 1.4;
}

.merchant-logo {
  margin-bottom: var(--pd-16);
}

.merchant {
  text-align: center;
}

.date {
  margin-top: var(--pd-10);
  color: var(--tw-gray-60);
  font-size: var(--text-12);
  line-height: 1.33;
}

.title {
  margin: var(--pd-24) 0 var(--pd-8);
  font: inherit;
  font-size: var(--text-12);
  line-height: 1.33;
  letter-spacing: var(--ls-2);
  text-transform: uppercase;
}

.note-input {
  padding-left: 0;
}

.note-button {
  width: 40px;
  height: 100%;
  margin: 0 calc(var(--pd-8) * -1);
  border-radius: var(--radius-8);
}

.scroll {
  padding: 0 var(--pd-24) 15px;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.detail {
  display: flex;
  margin: var(--pd-12) 0;
  justify-content: space-between;
  font-size: var(--text-12);
  line-height: 1.33;

  & > *:first-child {
    color: var(--tw-gray-60);
  }
}

.copy {
  vertical-align: top;
}

.actions {
  padding: var(--pd-24);
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.option-title {
  margin-bottom: var(--pd-4);
  font-size: var(--text-12);
  line-height: 1.33;
}

.expense-category {
  margin: var(--pd-16) 0;
}

.comments {
  margin-bottom: var(--pd-24);
}

.properties {
  border-bottom: 1px dashed var(--tw-gray-40);
}

.sync-tag {
  margin-top: var(--pd-8);
}

.sync-tag-icon {
  margin-right: var(--pd-4);
}

.unmapped-category-warning {
  color: var(--tw-red-70);
  font-size: var(--text-12);
}

.synced-locked-tag {
  color: var(--tw-gray-20);
  background: var(--tw-gray-80);
  border: 1px solid var(--tw-gray-60);
}

.row {
  display: flex;
  min-height: 1.5em;
  margin-bottom: 4px;
  align-items: flex-start;
  flex-direction: row;
}

.icon {
  min-width: 30px;
  height: auto;
  margin-right: 8px;
  margin-bottom: var(--pd-12) 0;
  color: var(--tw-red-70);
}

.text {
  display: flex;
  margin-bottom: var(--pd-12);
  justify-content: space-between;
  font-size: var(--text-12);
  line-height: 1.33;
}
