.root {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.top {
  display: flex;
  padding: var(--pd-14) 0;
  align-items: center;
  justify-content: space-between;
  color: var(--tw-white);
}

.top span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top svg {
  display: inline-block;
}

.close {
  cursor: pointer;
}

.actions {
  display: flex;
  max-width: 100vw;
  padding-top: var(--pd-32);
  align-items: center;
  justify-content: space-between;
}

.previews {
  display: flex;
  margin: var(--pd-16) 0 var(--pd-32);
  flex-wrap: wrap;
  gap: var(--pd-8);
}

.content {
  position: relative;
  display: flex;
  min-width: 50vw;
  height: calc(90vh - 260px);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.next,
.prev {
  position: absolute;
  top: 50%;
  width: 40px;
  color: var(--tw-white);
}

.prev {
  right: calc(100% + var(--pd-16));
}

.next {
  left: calc(100% + var(--pd-16));
}

.keen-slider:not([data-keen-slider-disabled]) {
  position: relative;
  display: flex;
  width: 90vh;
  max-width: 100%;
  height: 100%;
  align-content: flex-start;
  overflow: hidden;
  user-select: none;
  -webkit-touch-callout: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.keen-slider:not([data-keen-slider-disabled]) .keen-slider-slide {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  & img,
  & canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
  flex-direction: row-reverse;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-v] {
  flex-wrap: wrap;
}

.keen-slider:not([data-keen-slider-disabled])[data-keen-slider-moves] * {
  pointer-events: none;
}
