.root {
  width: 100%;
  font-size: var(--text-12);
  line-height: 1.33;
  text-align: left;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  cursor: default;
}

.head {
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0 1px 0 var(--tw-gray-30);
  z-index: 1;
}

.th {
  padding: var(--pd-12);
  font: inherit;
  font-family: var(--font-header);
}

.has-sorter {
  cursor: pointer;
}

.title {
  display: flex;
  min-height: 20px;
  align-items: center;
}

.sorter {
  margin-left: var(--pd-8);
}

.row {
  transition: background-color 0.3s;

  &:nth-child(odd) {
    background: var(--tw-gray-10);
  }

  &:hover {
    background: var(--tw-gray-20);
  }
}

.interactive {
  cursor: pointer;
}

.selected {
  background-color: var(--tw-accent-10);

  &:nth-child(odd),
  &:hover {
    background-color: var(--tw-accent-10);
  }
}

.td {
  padding: 20px var(--pd-12);
  vertical-align: top;
}

/* DARK MODE - TABLE STYLING */
.dark.root {
  border: 1px solid var(--tw-dark-lime-mint);
  border-radius: 10px;
  border-collapse: unset;
}

.dark.root thead,
.dark.root tr,
.dark.root th {
  border-radius: 10px;
}

.dark > .head,
.dark {
  background-color: var(--tw-dark-green);
  border-color: transparent;
}

.dark > .head {
  border-radius: 10px;
  box-shadow: unset;
}

.dark .row {
  &:nth-child(odd) {
    background: var(--tw-dark-lime-mint);
  }

  &:hover {
    background: var(--tw-dark-lime-mint);
  }
}
