.search {
  width: 320px;
}

.name {
  color: var(--tw-primary-content);
  cursor: pointer;
}

.card {
  color: var(--tw-gray-60);
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: var(--pd-2);
  }
}

.card-number {
  display: inline-block;
  min-width: 66px;
  color: var(--tw-primary-content);
}
