.search {
  margin: var(--pd-16) 0 var(--pd-24);

  @media (--bp-medium) {
    max-width: 320px;
  }
}

.item {
  padding: var(--pd-24) 0;
  font-size: var(--text-12);
  line-height: var(--line-16);

  &:not(:last-child) {
    border-bottom: 1px solid var(--tw-gray-30);
  }
}

.header {
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--pd-12);
  justify-content: space-between;
}

.name {
  color: var(--tw-primary-content);
}

.footer {
  display: grid;
  margin-top: var(--pd-2);
  grid-auto-flow: column;
  grid-gap: var(--pd-12);
  justify-content: space-between;
  color: var(--tw-gray-60);
}
