.search {
  margin: var(--pd-16) 0 var(--pd-24);

  @media (--bp-medium) {
    max-width: 320px;
  }
}

.item {
  display: grid;
  padding: var(--pd-24) 0;
  grid-template-columns: auto 1fr auto;
  grid-gap: var(--pd-10);
  font-size: var(--text-12);
  line-height: var(--line-16);

  &:not(:last-child) {
    border-bottom: 1px solid var(--tw-gray-30);
  }
}

.name {
  color: var(--tw-primary-content);
}

.type,
.limit {
  margin-top: var(--pd-2);
  color: var(--tw-gray-60);
}
