.root {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--pd-16);
}

.list {
  list-style: none;
  min-width: 160px;
  padding: 0;
}

.item {
  display: grid;
  margin-bottom: var(--pd-4);
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-gap: var(--pd-8);
}

.point {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: var(--tw-primary-bg);
  border-radius: 50%;
}

.tooltip {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.tooltip-content {
  position: absolute;
  bottom: 0;
  width: 200px;
  padding: var(--pd-8) var(--pd-16);
  color: var(--tw-gray-20);
  font-size: var(--text-12);
  background: var(--tw-black);
  border-radius: var(--radius-10);
  transform: translate3d(-50%, -10px, 0);

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: var(--tw-black);
    transform: translate3d(-50%, 12px, 0) rotate(180deg);
    pointer-events: none;
    z-index: 1;
  }
}
