.root {
  max-width: 625px;
  margin: 0 0 var(--pd-24);
  font-size: var(--text-24);
  line-height: 36px;
  cursor: default;
}

.small {
  font-size: var(--text-20);
}

.large {
  max-width: 880px;
  font-size: var(--text-24);
}
