.root {
  gap: var(--pd-24);
}

.item {
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
  padding: var(--pd-16);
  align-items: flex-start;
  border: 1px solid var(--tw-gray-30);
  border-radius: var(--radius-10);
  transition: background-color 0.3s, border-color 0.3s;

  &:hover:not(.selected) {
    border-color: var(--tw-primary);
  }

  @nest .item > input:checked + & {
    background-color: var(--tw-blue-light);
    border-color: var(--tw-primary);
  }
}

.icon {
  margin-right: var(--pd-8);
  flex-shrink: 0;
}

.header {
  display: flex;
  align-items: center;
}

.name {
  font-weight: var(--font-500);
}

.type {
  margin-left: var(--pd-4);
  flex-shrink: 0;
}

.number {
  margin-top: var(--pd-8);
  font-size: var(--text-12);
  line-height: var(--line-16);
}
