.root {
  display: flex;
  margin: 0;
  padding: var(--pd-8) var(--pd-12);
  align-items: center;
  color: var(--tw-black);
  font: inherit;
  vertical-align: middle;
  background: transparent;
  border: 0;
  cursor: pointer;

  &:hover {
    background: var(--tw-accent-10);
  }
}

.icon {
  margin-right: var(--pd-8);
  color: var(--tw-primary-bg);
}
