.root {
  display: block;
  padding: var(--pd-8) var(--pd-12);
  cursor: default;

  &:hover {
    background: var(--tw-gray-10);
  }
}

.active {
  background: var(--tw-gray-10);
  pointer-events: none;
}

.disabled {
  color: var(--tw-gray-60);
  pointer-events: none;
}
