.root {
  display: flex;
  padding: var(--pd-8) var(--pd-12);
  align-items: center;
  white-space: nowrap;
  cursor: pointer;

  &:hover, &:focus {
    background: var(--tw-primary-light);
    outline: none;
  }
}

.active {
  pointer-events: none;
  cursor: default;
}

.disabled {
  color: var(--tw-gray-60);
  pointer-events: none;
}

.content {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.icon {
  margin-left: var(--pd-8);
  flex-shrink: 0;
}
