.root {
  display: flex;
  padding: var(--pd-8) var(--pd-12);
  align-items: center;
  cursor: default;

  &:hover {
    background: var(--tw-gray-10);
  }
}

.active {
  pointer-events: none;
}

.disabled {
  color: var(--tw-gray-60);
  pointer-events: none;
}

.content {
  flex-grow: 1;
}

.icon {
  margin-left: var(--pd-8);
  flex-shrink: 0;
}
