.root {
  display: block;
  padding: var(--pd-16) var(--pd-24);

  @media (--bp-medium) {
    padding: 0 var(--pd-48);
  }
}

.top {
  display: flex;
  flex-direction: column;

  @media (--bp-large) {
    flex-direction: column;
  }

  & > *:nth-child(1) {
    @media (--bp-large) {
      flex-grow: 1;
    }
  }
}

.transaction-title {
  margin: var(--pd-16) 0;
  font-family: var(--font-header);
  font-size: var(--text-20);
  font-weight: var(--font-400);
  cursor: default;
}
