.root {
  display: block;
  padding: var(--pd-16) var(--pd-24);

  @media (--bp-medium) {
    padding: 0 var(--pd-48);
  }
}

.top {
  display: flex;
  flex-direction: column;
  gap: var(--pd-32);

  @media (--bp-large) {
    flex-direction: row;
  }

  & > *:nth-child(1) {
    @media (--bp-large) {
      flex-grow: 1;
    }
  }

  & > *:nth-child(2) {
    @media (--bp-large) {
      width: 340px;
      flex-shrink: 0;
    }

    @media (--bp-wide) {
      width: 390px;
    }
  }
}

.transaction-title {
  margin: var(--pd-32) 0 var(--pd-16);
  font-family: var(--font-header);
  font-size: var(--text-20);
  line-height: var(--line-28);
}

.transaction-compact {
  &:not(:last-child) {
    border-bottom: 1px solid var(--tw-gray-30);
  }
}
