.tag {
  width: 100%;
  cursor: pointer;
}

.popup {
  min-width: 100%;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.icon {
  margin-left: var(--pd-8);
  flex-shrink: 0;
}
