.root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media (--bp-large) {
    flex-direction: row;
  }
}

.side {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--tw-gray-30);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  padding: var(--pd-24);
  background: var(--tw-white);

  @media (--bp-medium) {
    padding: var(--pd-40) var(--pd-48) var(--pd-16);
    background: var(--tw-white);
  }
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-page);
}

.header-main {
  display: grid;
  justify-items: flex-start;
  grid-gap: var(--pd-24);

  @media (--bp-medium) {
    align-items: center;
    grid-auto-flow: column;
    justify-content: space-between;
  }
}

.title-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--pd-8) var(--pd-12);
}

.title {
  margin: 0;
  font-family: var(--font-header);
  font-size: var(--text-28);
  font-weight: var(--font-700);
  line-height: var(--line-36);
}

.footer {
  position: sticky;
  bottom: 0;
  order: 1;
  z-index: var(--z-index-side);
}

.content {
  display: flex;
  padding: 0 var(--pd-24) var(--pd-24);
  flex-direction: column;
  flex-grow: 1;

  @media (--bp-medium) {
    padding: var(--pd-16) var(--pd-48) var(--pd-24);
  }
}
