.root {
  display: flex;
  width: 100%;
  padding: var(--pd-16) var(--pd-24);
  align-items: center;
  justify-content: flex-end;
  background: var(--tw-gray-10);
  border-top: 2px solid var(--tw-amber);

  @media (--bp-medium) {
    padding: var(--pd-16) var(--pd-48);
  }
}

.actions {
  display: flex;
  gap: var(--pd-24);
}
