.search {
  margin-bottom: var(--pd-24);

  @media (--bp-medium) {
    max-width: 320px;
  }
}

.item {
  display: grid;
  padding: var(--pd-24) 0;
  grid-auto-flow: column;
  grid-gap: var(--pd-12);
  justify-content: space-between;
  color: var(--tw-gray-60);
  font-size: var(--text-12);
  line-height: var(--line-16);
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid var(--tw-gray-30);
  }
}

.name {
  margin-bottom: var(--pd-2);
  color: var(--tw-primary-content);
}

.cards {
  text-align: right;
}

.card {
  color: var(--tw-primary-content);
}

.more {
  margin-top: var(--pd-2);
  color: var(--tw-gray-60);
  font-size: var(--text-12);
  line-height: var(--line-16);
}
