.wrapper {
  position: relative;
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: auto;
  margin-bottom: 9px;
  padding: var(--pd-8);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--tw-dark-green);

  @media (--bp-medium) {
    flex-direction: row;
  }

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 8px;
    background-color: var(--tw-accent-100);
    border-bottom: 1px solid var(--tw-accent-90);
  }
}

.branding {
  padding: var(--pd-8);
  color: white;
  font-size: 14px;
  font-weight: 600;
}
