.wrapper {
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: auto;
  padding: var(--pd-8);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--tw-dark-green);

  @media (--bp-medium) {
    flex-direction: row;
  }
}

.line-break {
  width: 100vw;
  max-width: 100%;
  min-height: 8px;
  background-color: var(--tw-accent-100);
  border-bottom: 1px solid var(--tw-accent-90);
}

.branding {
  padding: var(--pd-8);
  color: white;
  font-size: 14px;
  font-weight: 600;
}
