.root {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  padding: var(--pd-16) var(--pd-32) var(--pd-16) var(--pd-8);
  align-items: center;
  font-family: var(--font-header);
  font-size: var(--text-16);
  font-weight: var(--font-500);
  border-right: 4px solid transparent;
}

.icon {
  width: 24px;
  margin-right: 8px;

  & * {
    color: var(--tw-light);
  }
}

.active {
  background: var(--tw-medium);
  border-right-color: var(--tw-light);

  & > *:first-child,
  & ~ * > *:first-child {
    opacity: 0;
  }
}

.step {
  margin-right: var(--pd-12);
  font-family: var(--font-header);
  font-weight: var(--font-700);
  line-height: var(--line-28);
  font-variant-numeric: tabular-nums;
}
