.search {
  width: 320px;
}

.cell {
  padding-top: var(--pd-24);
  padding-bottom: var(--pd-24);
  font-family: var(--font-main);
  font-size: var(--text-12);
  line-height: var(--line-16);
  vertical-align: middle;
}

.table {
  margin: var(--pd-24) 0;
}

.column-title {
  font-family: var(--font-header);
  font-size: var(--text-12);
  line-height: var(--line-16);
}

.table-buttons {
  display: flex;
  padding: var(--pd-12) var(--pd-24);
  justify-content: flex-end;
  background: var(--tw-gray-10);
  border-top: 2px solid var(--tw-gray-60);
}

.done {
  margin-left: var(--pd-8);
}
