.search {
  width: 226px;
}

.table-container {
  position: relative;
}

.cell {
  padding-top: var(--pd-24);
  padding-bottom: var(--pd-24);
  font-family: var(--font-main);
  font-size: var(--text-12);
  line-height: 1.33;
  vertical-align: middle;
}

.table {
  margin: var(--pd-24) 0;
  overflow: auto;
}

.table-buttons {
  position: sticky;
  bottom: 0;
  display: flex;
  margin: 0 -48px;
  padding: var(--pd-12) var(--pd-48);
  justify-content: flex-end;
  background: var(--tw-gray-10);
  border-top: 2px solid var(--tw-gray-60);
}

.done {
  margin-left: var(--pd-8);
}

.mapped-icon {
  color: var(--tw-accent-30);
}

.top-container {
  display: flex;
  padding: 0 var(--pd-48);
  align-items: center;
  justify-content: space-between;
}
