.root {
  padding: 0 0 var(--pd-12);
  font-family: var(--font-header);
  font-size: inherit;
  line-height: inherit;
  white-space: nowrap;
  background: transparent;
  border: 0;
  border-bottom: 4px solid transparent;
  transition: border 0.3s;

  &:hover {
    border-bottom-color: var(--tw-primary);
  }
}

.active {
  border-bottom-color: var(--tw-primary);
  pointer-events: none;
}
