.root {
  position: relative;
  margin-bottom: var(--pd-24);
  border-bottom: 1px solid var(--tw-gray-30);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
  }
}

.wrapper {
  display: inline-grid;
  max-width: 100%;
  grid-auto-flow: column;
  grid-gap: var(--pd-24);
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
