@value v-width: 36px;

.root {
  display: flex;
  width: 100%;
  min-width: 240px;
  max-width: 360px;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: v-width;

  & input {
    text-align: center;
  }
}
