@value v-width: 36px;

.root {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: v-width;
  flex-shrink: 0;

  & input {
    text-align: center;
  }
}
