.root {
  display: flex;
  gap: var(--pd-10);
}

.pill {
  padding-top: var(--pd-2);
  padding-right: var(--pd-8);
  padding-bottom: 0;
  padding-left: var(--pd-4);
  border: 1px solid black;
  border-radius: var(--radius-16);
  gap: var(--pd-2);
}

.status {
  display: flex;
  width: 24px;
  height: 24px;
  margin-top: -4px;
  align-items: center;
  justify-content: center;
  color: var(--tw-gray-70);
  background: var(--tw-gray-10);
  border: 1px solid var(--tw-gray-20);
  border-radius: var(--radius-8);
}

.plain-status {
  width: 20px;
  height: 20px;
  margin-top: -1px;
  border: 0;
}

.approved {
  color: var(--tw-green-70);
  background: var(--tw-green-10);
  border-color: var(--tw-green-20);
}

.declined {
  color: var(--tw-red-80);
  background: var(--tw-red-20);
  border-color: var(--tw-red-60);
}

.amount {
  font-weight: var(--font-700);
}

.pill .amount {
  font-weight: var(--font-400);
}
