.root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.status {
  display: flex;
  padding: var(--pd-8) var(--pd-24);
  align-items: center;
  color: var(--tw-white);
  font-size: var(--text-12);
  font-weight: var(--font-700);
  line-height: var(--line-16);
  background: var(--tw-gray-70);
}

.approved {
  background: var(--tw-green-70);
}

.declined {
  background: var(--tw-red-70);
}

.status-icon {
  margin-right: var(--pd-4);
}

.summary {
  display: flex;
  margin: 0 var(--pd-24) var(--pd-24);
  padding: var(--pd-24) 0 var(--pd-14);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px dashed var(--tw-gray-40);
}

.amount {
  margin-bottom: var(--pd-2);
  font-family: var(--font-header);
  font-size: var(--text-20);
  font-weight: var(--font-700);
  line-height: var(--line-28);
}

.merchant-logo {
  margin-bottom: var(--pd-16);
}

.merchant {
  text-align: center;
}

.date {
  margin-top: var(--pd-10);
  color: var(--tw-gray-60);
  font-size: var(--text-12);
  line-height: var(--line-16);
}

.receipt-cta {
  display: grid;
  width: 100%;
  margin-top: var(--pd-24);
  grid-gap: var(--pd-10);
}

.receipt-cta input[type='file'] {
  display: none;
}

.title {
  margin: var(--pd-24) 0 var(--pd-8);
  font: inherit;
  font-size: var(--text-12);
  line-height: var(--line-16);
  letter-spacing: var(--ls-2);
  text-transform: uppercase;
}

.note-button {
  width: 40px;
  height: 100%;
  margin: 0 calc(var(--pd-8) * -1);
  border-radius: var(--radius-8);
}

.scroll {
  padding: 0 var(--pd-24);
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.detail {
  display: flex;
  margin: var(--pd-12) 0;
  justify-content: space-between;
  font-size: var(--text-12);
  line-height: var(--line-16);

  & > *:first-child {
    color: var(--tw-gray-60);
  }
}

.actions {
  padding: var(--pd-24);
}

.option-title {
  margin-bottom: var(--pd-4);
  font-size: var(--text-12);
  line-height: var(--line-16);
}

.expense-category {
  margin-bottom: var(--pd-12);
}
