.section {
  margin: var(--pd-24) 0;
}

.field {
  @media (--bp-large) {
    max-width: 400px;
  }
}

.description-header {
  margin: 0 0 var(--pd-4);
  color: var(--tw-black);
  font-family: var(--font-header);
  font-size: var(--text-14);
  font-weight: var(--font-400);
}

.description-content {
  display: block;
  margin: 0 0 var(--pd-8);
}

.bordered-section > div {
  padding: var(--pd-24) var(--pd-24) var(--pd-24);
  flex-grow: unset;
  border: 1px solid var(--tw-gray-20);
  border-radius: var(--radius-10);
}

.closed-section > div {
  min-width: min(50%, 492px);
  height: 70px;
}

.left-offset-field {
  margin-left: var(--pd-42);
}

.next-skip-row {
  display: flex;
  margin-left: 40px;
  padding-top: var(--pd-24);
  justify-content: space-between;
  border-top: 1px solid lightgray;
}

.next-skip-row > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-skip-row label {
  margin-right: var(--pd-8);
}
