.section {
  margin: var(--pd-24) 0;
}

.field {
  @media (--bp-large) {
    max-width: 400px;
  }
}

.description-header {
  margin: 0 0 var(--pd-4);
  color: var(--tw-black);
  font-family: var(--font-header);
  font-size: var(--text-14);
  font-weight: var(--font-400);
}

.description-content {
  display: block;
  margin: 0 0 var(--pd-8);
}
