.root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.existing-card-name-warning {
  color: var(--tw-red-70);
  font-size: var(--text-12);
}
