.section {
  margin: var(--pd-16) 0 var(--pd-32);
}

.unlink {
  padding: var(--pd-16);
  color: var(--tw-red-80);
}

.popover-buttons {
  display: flex;
  margin-top: var(--pd-16);
  justify-content: flex-end;
}

.popover-root {
  width: 320px;
}

.popover-unlink {
  margin-left: var(--pd-8);
  color: var(--tw-red-80);
}

.edit-button {
  margin-top: var(--pd-24);
}
