.root {
  width: 100%;
  max-width: 400px;
  padding: var(--pd-24);
  background: var(--tw-white);
  border: 1px solid var(--tw-gray-20);
  border-radius: var(--radius-20);

  @media (--bp-large) {
    max-width: 450px;
    padding: var(--pd-48);
  }
}
