.table-buttons {
  position: sticky;
  bottom: 0;
  display: flex;
  margin: 0 -48px;
  padding: var(--pd-12) var(--pd-48);
  justify-content: flex-end;
  background: var(--tw-gray-10);
  border-top: 2px solid var(--tw-gray-60);
}

.done {
  margin-left: var(--pd-8);
}

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--tw-white);
}

.categories-wrapper {
  display: flex;
  flex-direction: row;
}

.categories {
  display: flex;
  flex-direction: column;
}

.warning-text {
  width: 320px;
  margin: 4px 40px 0 0;
  font-size: 20px;
}

.expense-category {
  margin: 5px 0;
  font-size: var(--text-12);
}

.page {
  padding-bottom: 0;
}
