.card {
  display: flex;
  width: 306px;
  height: 192px;
  margin-bottom: var(--pd-14);
  padding: var(--pd-24);
  flex-direction: column;
  justify-content: flex-end;
  background: #ededed;
  border-radius: var(--radius-12);
}

.card-name {
  font-size: var(--text-20);
  line-height: 1.2;
}

.card-number {
  margin-top: var(--pd-4);
  font-size: var(--text-12);
  line-height: 1.33;
}

/* .info {
  margin: var(--pd-8) 0;
}

.info-label {
  color: var(--tw-gray-60);
}
*/

.unlink {
  margin-top: var(--pd-24);
}
