.root {
  margin: 0 0 var(--pd-8);
  margin-bottom: var(--pd-32);
}

.root.dark {
  color: white;
}

.label {
  display: block;
  margin-bottom: var(--pd-4);
  font-size: var(--text-12);
  font-weight: var(--font-400);
  line-height: var(--line-16);
  cursor: pointer;
}

.root.dark .label {
  font-size: var(--text-14);
  line-height: var(--line-22);
}

.description {
  margin-top: var(--pd-4);
  color: var(--tw-gray-60);
  font-size: var(--text-12);
  line-height: var(--line-16);

  @nest .dark & {
    color: white;
  }
}

.error {
  color: var(--tw-red-60);
}

.extra {
  @nest .dark & {
    color: white;
    font-size: var(--text-12);
    line-height: var(--line-16);
    letter-spacing: 0.5px;
  }
}
