.root {
  margin: 0 0 var(--pd-32);

  &:last-child {
    margin-bottom: var(--pd-8);
  }
}

.root.dark {
  color: white;
}

.label {
  display: block;
  margin-bottom: var(--pd-4);
  font-size: var(--text-14);
  font-weight: var(--font-400);
  line-height: 1.45;
  cursor: pointer;
}

.root.dark .label {
  font-size: var(--text-14);
}

.description {
  margin-top: 6px;
  color: var(--tw-gray-60);
  font-size: var(--text-12);
  line-height: 1.33;

  @nest .dark & {
    color: white;
  }
}

.error {
  color: var(--tw-red-60);
}

.extra {
  @nest .dark & {
    color: white;
    font-size: var(--text-12);
    line-height: 1.33;
    letter-spacing: 0.5px;
  }
}
