@value v-size-lg: 48px;
@value v-size-md: 36px;
@value v-size-sm: 24px;
@value v-small-icon: 20px;

.root {
  display: inline-flex;
  height: v-size-md;
  margin: 0;
  padding: 0 var(--pd-12);
  align-items: center;
  justify-content: center;
  color: var(--tw-black);
  font: inherit;
  font-family: var(--font-header);
  vertical-align: middle;
  text-decoration: none;
  background: var(--tw-gray-20);
  border: 0;
  border-radius: var(--radius-12);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;

  &:hover {
    color: var(--tw-black);
    text-decoration: none;
    background: var(--tw-gray-30);
  }

  &:disabled,
  &.disabled {
    color: var(--tw-gray-40);
    background: var(--tw-gray-20);
    cursor: not-allowed;
  }

  & > svg + span,
  & > span + svg {
    margin-left: var(--pd-4);
  }
}

.wide {
  width: 100%;
}

.icon-only {
  width: v-size-md;
  padding: 0;
}

.lg {
  height: v-size-lg;
}

.icon-only-lg {
  width: v-size-lg;
}

.sm {
  height: v-size-sm;
  padding: 0 var(--pd-8);
  border-radius: var(--radius-8);
}

.icon-only-sm {
  width: v-size-sm;
  padding: 0;
}

.outline {
  color: var(--tw-gray-70);
  border: 1px solid var(--tw-gray-70);

  &:hover {
    color: var(--tw-primary-content);
    background: white;
    border-color: var(--tw-gray-30);
  }
}

.disabled,
.loading {
  pointer-events: none;
}

.spin,
.icon {
  color: inherit;

  @nest .sm & {
    width: v-small-icon;
    height: v-small-icon;
  }
}

.child {
  visibility: visible;
  white-space: nowrap;
}

.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-icon {
  position: relative;

  & .child {
    visibility: hidden;
  }
}

.ghost {
  color: var(--tw-gray-60);
  background-color: transparent;

  &:hover {
    color: var(--tw-gray-60);
    background-color: var(--tw-gray-20);
  }

  &:disabled,
  &.disabled {
    background-color: transparent;
  }
}

.primary {
  background-color: var(--tw-primary-bg);

  &:hover:not(:disabled):not(.disabled) {
    background-color: var(--tw-primary-content);
  }
}

.primary-second {
  color: var(--tw-primary-content);

  &:hover:not(:disabled):not(.disabled) {
    color: var(--tw-primary-content);
    background-color: var(--tw-gray-10);
  }
}

.primary-ghost {
  color: var(--tw-primary-content);
  background-color: transparent;

  &:hover {
    color: var(--tw-primary-content);
    background-color: var(--tw-gray-10);
  }

  &:disabled,
  &.disabled {
    background-color: transparent;
  }
}

.danger {
  color: var(--tw-white);
  background-color: var(--tw-red-70);

  &:hover:not(:disabled):not(.disabled) {
    color: var(--tw-white);
    background-color: var(--tw-red-80);
  }
}

.danger-second {
  color: var(--tw-red-80);

  &:hover:not(:disabled):not(.disabled) {
    color: var(--tw-red-80);
    background-color: var(--tw-gray-10);
  }
}

.danger-ghost {
  color: var(--tw-red-80);
  background-color: transparent;

  &:hover {
    color: var(--tw-red-80);
    background-color: var(--tw-gray-10);
  }

  &:disabled,
  &.disabled {
    background-color: transparent;
  }
}
