.root {
  position: relative;
  min-height: 100vh;
  padding: var(--pd-48) 6vw;
  color: var(--tw-white);
  background: var(--tw-dark);

  @media (--bp-large) {
    padding: var(--pd-48);
  }
}

.content form > div:not(:global(.fullwidth)) {
  max-width: 392px;
}

.header {
  padding-bottom: var(--pd-24);

  @media (--bp-large) {
    padding-bottom: 80px;
  }
}

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
