.sidebar {
  display: flex;
  width: 100%;
  height: 100%;
  padding: var(--pd-48) var(--pd-24) var(--pd-24);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  @media (--bp-medium) {
    width: 264px;
    padding: 0;
    align-items: inherit;
    flex-direction: column;
    justify-content: inherit;
  }
}

.header {
  flex-shrink: 0;

  @media (--bp-medium) {
    padding: var(--pd-32) var(--pd-32) var(--pd-24);
  }
}

.steps {
  flex-grow: 1;
}

.verify-section-content {
  @media (--bp-large) {
    max-width: 394px;
  }
}

.footer {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  @media (--bp-medium) {
    padding: var(--pd-40) var(--pd-32);
  }
}

.user {
  margin-left: var(--pd-12);
  color: var(--tw-gray-60);
  font-family: var(--font-header);
  font-weight: var(--font-700);
}
