.root {
  min-height: calc(100vh - 40px);
  padding: var(--pd-48) var(--pd-24);
  background: var(--tw-gray-10);

  @media (min-width: 1024px) {
    padding: var(--pd-48);
  }
}

.header {
  padding-bottom: var(--pd-24);

  @media (min-width: 1024px) {
    padding-bottom: 80px;
  }
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
