@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -20;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -50;
  }
}

.root {
  display: block;
  color: var(--tw-primary-content);
  transform-origin: center center;
  animation: rotate 2s linear infinite;
}

.circle {
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
}
