.root {
  position: relative;
  width: 444px;
  max-width: 90%;
  margin-top: -10%;
  padding: var(--pd-40);
  background: var(--tw-white);
  border: 1px solid var(--tw-gray-20);
  border-radius: var(--radius-25);
}

.title {
  margin: 0 0 var(--pd-16);
  font-family: var(--font-header);
  font-size: var(--text-28);
  line-height: 1.28;
}

.actions {
  margin-top: var(--pd-16);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
