.wrapper {
  display: flex;
  padding: 8px;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border: 1px solid var(--tw-gray-30);
}

.cell {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.error {
  position: absolute;
  top: 6px;
  right: 0;
  color: var(--tw-red-80);
}

.button {
  margin-top: 10px;
  color: var(--tw-green-30);
}

.row {
  display: flex;
  align-items: center;
}

.first-action {
  margin-right: 10px;
}
