@value v-height: 36px;
@value v-border: 1px;

.root {
  display: flex;
  height: v-height;
  background: white;
  border: v-border solid var(--tw-gray-30);
  border-radius: var(--radius-8);
  transition: border 0.3s;
  overflow: hidden;

  &:hover,
  &:focus-within {
    border-color: var(--tw-primary-bg);
  }
}

.root.auto-height {
  height: auto;
}

.root.dark {
  height: auto;
  color: var(--tw-white);
  background-color: var(--tw-medium);
  border-color: var(--tw-medium);
  border-radius: var(--radius-4);
}

.error:not(.disabled) {
  border-color: var(--tw-red-60);
}

.disabled {
  background-color: var(--tw-gray-10);

  &:hover {
    border-color: var(--tw-gray-30);
  }
}

.input {
  width: calc(100% + (v-border * 2));
  padding: var(--pd-8) var(--pd-12);
  font: inherit;
  text-overflow: ellipsis;
  border: 0;
  outline: 0;

  &:disabled {
    color: var(--tw-gray-60);
    cursor: not-allowed;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: inherit;
    box-shadow: 0 0 0 1000px transparent inset;
  }

  @nest .dark & {
    padding: var(--pd-12) var(--pd-12);
    color: var(--tw-white);
    background-color: var(--tw-medium);
  }

  @nest .dark &:-webkit-autofill {
    -webkit-text-fill-color: white;
    background-color: var(--tw-medium) !important;
  }

  @nest .dark &:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    caret-color: white;
  }

  @nest .dark &:-webkit-autofill:hover {
    -webkit-text-fill-color: white;
  }

  @nest .dark &:-internal-autofill-selected {
    background-color: yellow;
  }
}

.prefix {
  display: flex;
  margin-right: var(--pd-8);
  padding-left: var(--pd-12);
  align-items: center;
  flex-shrink: 0;
  line-height: 1;

  & > svg {
    color: var(--tw-gray-60);
  }
}

.suffix {
  display: flex;
  padding: 0 var(--pd-8);
  align-items: center;
  flex-shrink: 0;

  & > svg {
    color: var(--tw-gray-60);
  }
}
