@value v-height: 36px;
@value v-border: 1px;

.root {
  display: flex;
  height: v-height;
  border: v-border solid var(--tw-gray-30);
  border-radius: var(--radius-8);
  transition: border 0.3s;
  overflow: hidden;

  &:hover,
  &:focus-within {
    border-color: var(--tw-primary);
  }
}

.error:not(.disabled) {
  border-color: var(--tw-red);
}

.disabled {
  &:hover {
    border-color: var(--tw-gray-30);
  }
}

.input {
  width: calc(100% + (v-border * 2));
  margin: -1px 0 0 -1px;
  padding: var(--pd-8) var(--pd-12);
  font: inherit;
  background: transparent;
  border: 0;
  outline: 0;

  &:disabled {
    color: var(--tw-gray-60);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: inherit;
    box-shadow: 0 0 0 1000px transparent inset;
  }
}

.suffix {
  display: flex;
  padding: 0 var(--pd-8);
  align-items: center;
  flex-shrink: 0;

  & > svg {
    color: var(--tw-gray-60);
  }
}
