@value v-day-width: 38px;
@value v-day-margin: 1px;
@value v-month-width calc((v-day-width * 7) + (v-day-margin * 2 * 7));

.root {
  width: v-month-width;
  user-select: none;
}

.header {
  display: flex;
  width: 100%;
  margin-bottom: var(--pd-24);
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-header);
  font-size: var(--text-16);
  font-weight: var(--font-700);
  line-height: var(--line-28);
  border-bottom: 1px solid var(--tw-gray-30);
}

.nav,
.nav-disabled {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 0;
}

.nav {
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  transition: color 0.3s;
  cursor: pointer;

  &:hover {
    color: var(--tw-primary-bg);
  }
}

.weekdays {
  display: flex;
  width: 100%;
}

.weekday {
  display: flex;
  width: v-day-width;
  margin: 0 v-day-margin var(--pd-4);
  justify-content: center;
  font-weight: var(--font-400);
}

.days {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.empty {
  pointer-events: none;
}

.day {
  display: flex;
  width: v-day-width;
  height: 36px;
  margin: var(--pd-2) v-day-margin;
  align-items: center;
  justify-content: center;
  font-size: var(--text-12);
  line-height: 1.33;
  background: transparent;
  border: 0;
  border-radius: var(--radius-4);
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled):not(.active):hover {
    background: var(--tw-primary-bg);
  }
}

.active {
  background: var(--tw-primary-bg);
}

.first {
  border-top-right-radius: var(--radius-2);
  border-bottom-right-radius: var(--radius-2);
}

.last {
  color: var(--tw-primary-bg);
  background: var(--tw-primary-dark);
  border-top-left-radius: var(--radius-2);
  border-bottom-left-radius: var(--radius-2);
}

.in-range {
  background: var(--tw-gray-20);
  border-radius: var(--radius-2);
}
