@value v-height: 36px;

.root {
  position: relative;
}

.input {
  padding-right: var(--pd-40);
  opacity: 0;

  @nest .root[data-view='input'] & {
    opacity: 1;
  }
}

.value {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: var(--pd-8) var(--pd-40) var(--pd-8) var(--pd-12);
  pointer-events: none;

  @nest .root[data-view='input'] & {
    visibility: hidden;
  }
}

.chevron {
  position: absolute;
  top: 50%;
  right: var(--pd-8);
  color: var(--tw-gray-60);
  transition: transform 0.3s;
  transform: translateY(-50%) rotate(0deg);
  transform-origin: center;
  will-change: auto;
  pointer-events: none;

  @nest .root[data-open='true'] & {
    transform: translateY(-50%) rotate(180deg);
  }
}

.popup {
  width: 100%;
  padding: 0;
}

.list {
  display: block;
  list-style: none;
  width: 100%;
  max-height: 288px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.input-wrapper {
  display: flex;
  padding: 2px;
  flex-wrap: wrap;
  border: 1px solid #c2c2bf;
  border-radius: 8px;
}

.selected-option {
  position: relative;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  height: 24px;
  margin-top: 2px;
  margin-bottom: 2px;
  flex: none;
  line-height: 22px;
  background: #f5f5f5;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-margin-end: 4px;
  margin-inline-end: 4px;
  -webkit-padding-start: 8px;
  padding-inline-start: 8px;
  -webkit-padding-end: 4px;
  padding-inline-end: 4px;
}

.selected-option-text {
  display: inline-block;
  margin-right: 4px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}

.selected-option-x {
  display: inline-block;
  color: #00000073;
  font-size: 12px;
  line-height: inherit;
  text-align: center;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-option-input {
  width: auto;
  min-width: 100px;
  margin-top: 3px;
  margin-bottom: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  flex: 1;
  border: 0;
  outline: transparent;
}
