@value v-height: 36px;

.root {
  position: relative;
}

.input-wrapper {
  display: flex;
  min-height: v-height;
  padding: var(--pd-4) var(--pd-8);
  flex-wrap: wrap;
  border: 1px solid var(--tw-gray-30);
  border-radius: var(--radius-8);

  &:hover,
  &:focus-within {
    border-color: var(--tw-primary-border);
  }
}

.selected-option {
  margin: 3px var(--pd-4);
}

.remove {
  margin-left: var(--pd-8);
  color: var(--tw-gray-60);
  cursor: pointer;
}

.search-input {
  width: auto;
  min-width: 100px;
  flex: 1;
  font: inherit;
  border: 0;
  outline: transparent;
}

.chevron {
  position: absolute;
  top: 50%;
  right: var(--pd-8);
  color: var(--tw-gray-60);
  transition: transform 0.3s;
  transform: translateY(-50%) rotate(0deg);
  transform-origin: center;
  will-change: auto;
  pointer-events: none;

  @nest .root[data-open='true'] & {
    transform: translateY(-50%) rotate(180deg);
  }
}

.popup {
  width: 100%;
  padding: 0;
}

.list {
  display: block;
  list-style: none;
  width: 100%;
  max-height: 288px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
