.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--tw-white);
}

.page-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.add-card-form-title {
  margin: 0;
  font-family: var(--font-header);
  font-size: var(--text-20);
  font-weight: var(--font-400);
}

.form-wrapper {
  display: flex;
  padding: 16px 0 0;
  align-items: flex-start;
  flex-direction: row;
}

.inner-wrap {
  display: flex;
  padding: 0 30px 0 0;
  flex-direction: column;
}

.next-button {
  margin-left: var(--pd-8);
}

.footer {
  display: flex;
  padding: var(--pd-12);
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--tw-gray-10);
  border-top: 2px solid var(--tw-gray-70);
}

.edit-button {
  margin-top: var(--pd-24);
}
