.root {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr auto;
  grid-gap: var(--pd-16);
}

.name {
  margin: var(--pd-12) 0;
  font-family: var(--font-header);
  font-size: var(--text-20);
  font-weight: var(--font-400);
  line-height: var(--line-28);
}

.data {
  margin: var(--pd-12) 0;
  font-weight: var(--font-400);
}
