.root {
  display: flex;
  margin: var(--pd-8) 0;
  flex-wrap: wrap;
  gap: var(--pd-16);
}

.item {
  width: 250px;
  padding: var(--pd-8) 0;

  @media (--bp-large) {
    width: 280px;
  }
}

.title {
  margin: 0;
  font: inherit;
  font-size: var(--text-12);
  line-height: 1.33;
  letter-spacing: var(--ls-2);
  text-transform: uppercase;
}

.value {
  display: flex;
  margin-top: var(--pd-16);
  align-items: center;
  color: inherit;
  font-size: var(--text-20);
  text-decoration: none;
}

.name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chevron {
  flex-shrink: 0;
}

.note {
  display: block;
  margin-top: var(--pd-10);
  padding-right: var(--pd-24);
  color: var(--tw-gray-60);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
