.detail-container {
  display: flex;
  flex-direction: column;
}

.subtext {
  color: var(--tw-gray-60);
  font-size: var(--text-12);
}

.link-text {
  color: var(--tw-accent-50);
  cursor: pointer;
}
