.status {
  flex-grow: 1;
}

.title {
  margin: 0 0 var(--pd-8);
  font: inherit;
  font-size: var(--text-20);
  line-height: var(--line-28);
}

.text {
  & > b {
    white-space: nowrap;
  }
}

.subtitle {
  margin: var(--pd-24) 0 var(--pd-8);
  font: inherit;
  font-size: var(--text-12);
  line-height: var(--line-16);
  letter-spacing: var(--ls-2);
  text-transform: uppercase;
}

.item {
  margin-bottom: var(--pd-8);
}

.button {
  margin-top: var(--pd-24);
}
