.root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.card {
  width: 100%;
  margin-bottom: var(--pd-24);
}

.content {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.controls {
  display: grid;
  margin-top: var(--pd-24);
  grid-gap: var(--pd-16);
}
