.root {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr auto;
  grid-gap: var(--pd-16);
}

.card {
  width: 100%;
  margin-bottom: var(--pd-24);
}

.content {
  padding: 0 var(--pd-24) var(--pd-24);
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.controls {
  padding: 0 var(--pd-24) var(--pd-24);
}
