.root {
  display: flex;
  padding: var(--pd-24) 0 0;
  align-items: center;
  justify-content: space-between;

  @media (--bp-medium) {
    width: 98px;
    height: 100%;
    padding: 0;
    align-items: inherit;
    flex-direction: column;
    justify-content: inherit;
  }
}

.header {
  padding: 0 0 0 var(--pd-24);

  @media (--bp-medium) {
    display: flex;
    height: 116px;
    padding: var(--pd-16) var(--pd-10);
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
}

/* TODO */
.logo {
  height: 24px;

  @media (--bp-medium) {
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
}

.menu-button {
  width: auto;
  height: auto;
  padding: 22px;
}

.menu-popup {
  padding: 0;
}
