.root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.filters {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.min-max-input-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--pd-8);
}

.input-amount {
  margin: 0;
}
