.root {
  display: flex;
  align-items: center;
  line-height: var(--line-24);
  vertical-align: middle;
  cursor: pointer;
}

.input {
  position: absolute;
  pointer-events: none;
  opacity: 0;

  &:focus + span {
    outline: 2px solid var(--tw-gray-30);
  }
}

.dot {
  display: flex;
  width: 16px;
  height: 16px;
  margin: var(--pd-4);
  align-items: center;
  justify-content: center;
  background: var(--tw-white);
  border: 1px solid var(--tw-gray-30);
  border-radius: 50%;
  transition: background-color 0.3s, border 0.3s;
  cursor: pointer;

  &::after {
    content: '';
    width: 8px;
    height: 8px;
    background: var(--tw-white);
    border-radius: 50%;
    transition: opacity 0.3s;
    opacity: 0;
  }

  @nest .input:checked + & {
    background-color: var(--tw-primary-bg);
    border-color: var(--tw-primary-bg);

    &::after {
      opacity: 1;
    }
  }

  @nest .input:disabled + & {
    background-color: var(--tw-gray-20);
    border-color: var(--tw-gray-30);
    cursor: not-allowed;
  }
}

.label {
  margin-left: var(--pd-4);
  cursor: pointer;

  @nest .input:disabled + .dot + & {
    color: var(--tw-gray-60);
    cursor: not-allowed;
  }
}
