.root {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--pd-8);
  font-size: var(--text-12);
  line-height: 1.33;
}

.icon-wrap {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  background: var(--tw-gray-10);
  border: 1px solid var(--tw-gray-20);
  border-radius: var(--radius-8);
}

.icon {
  width: 30px;
  height: 30px;
  color: var(--tw-gray-70);
}

.content {
  display: grid;
  align-items: center;
  grid-gap: var(--pd-2) var(--pd-8);
}

.inline {
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.extra {
  color: var(--tw-gray-60);
}
