.form {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.footer {
  padding-top: var(--pd-8);
  flex-shrink: 0;
}

.notice {
  margin-bottom: var(--pd-16);
}
