@value v-card-pd: 26px;

.card-wrapper {
  position: relative;
}

.card {
  width: 100%;
  height: auto;
  margin-top: var(--pd-12);
}

.card-details {
  position: absolute;
  top: 82px;
  left: v-card-pd;
  width: calc(100% - v-card-pd * 2);
}

.cardholder {
  margin-bottom: var(--pd-4);
  font-size: var(--text-12);
  line-height: var(--line-16);
}

.data {
  display: grid;
  margin-top: var(--pd-16);
  grid-template-columns: auto 1fr;
  grid-gap: var(--pd-24);
}

.label {
  font-size: var(--text-10);
  line-height: var(--line-12);
  text-transform: uppercase;
}

.title {
  margin: 0;
  font: inherit;
  font-size: var(--text-12);
  line-height: var(--line-16);
  letter-spacing: var(--ls-2);
  text-transform: uppercase;
}

.address-container {
  margin-top: var(--pd-24);
}

.address {
  margin: var(--pd-16) 0;
  font-size: var(--text-14);
  line-height: var(--line-20);
}
