.text {
  font-family: var(--font-header);
  font-size: var(--text-24);
  line-height: 1.33;
}

.first-button {
  margin-bottom: 15px;
}

.links {
  margin: var(--pd-24) 0;
}

.link {
  display: grid;
  margin: var(--pd-8) 0;
  grid-template-columns: auto 1fr;
  grid-gap: var(--pd-4);
}
