.search {
  width: 320px;
}

.cell {
  padding-top: 20px;
  padding-bottom: 20px;
}

.date {
  font-weight: var(--font-400);
}

.card-cell {
  cursor: pointer;
}

.card {
  color: var(--tw-primary-content);
}

.merchant,
.amount-cell {
  display: flex;
  gap: var(--pd-10);
}

.icon {
  width: 24px;
  height: 24px;
  margin-top: -4px;
  background: var(--tw-gray-30);
  border-radius: var(--radius-8);
}

.status {
  display: flex;
  width: 24px;
  height: 24px;
  margin-top: -4px;
  align-items: center;
  justify-content: center;
  color: var(--tw-green-70);
  background: var(--tw-green-10);
  border: 1px solid var(--tw-green-20);
  border-radius: var(--radius-8);
}

.status.declined {
  color: var(--tw-red-80);
  background: var(--tw-red-20);
  border-color: var(--tw-red-60);
}

.status.pending {
  color: var(--tw-amber-70);
  background: var(--tw-amber-20);
  border-color: var(--tw-amber-50);
}

.amount {
  font-weight: var(--font-700);
}

.receipt-cell {
  padding: var(--pd-10);
  padding-top: 0;
  cursor: pointer;
}

.receipt {
  margin-top: -4px;
  cursor: pointer;
}

.receipt-empty {
  color: var(--tw-gray-40);
}

.sub {
  margin-top: var(--pd-2);
  color: var(--tw-gray-60);
  text-transform: capitalize;
}
