.search {
  width: 320px;
}

.row {
  cursor: pointer;
}

.card {
  display: inline-block;
  color: var(--tw-primary-content);

  &:hover {
    text-decoration: underline;
  }
}

.merchant {
  display: flex;
  gap: var(--pd-10);
}

.receipt-cell {
  padding: var(--pd-10);
  padding-top: 0;
  cursor: pointer;
}

.receipt {
  margin-top: -4px;
  cursor: pointer;
}

.receipt-empty {
  color: var(--tw-gray-40);
}

.sub,
.merchant-type {
  margin-top: var(--pd-2);
  color: var(--tw-gray-60);
}

.merchant-type {
  text-transform: capitalize;
  opacity: 0.8;
}

.dot {
  display: flex;
  width: 28px;
  height: 28px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background-color: var(--tw-gray-80);
  border-radius: 50%;
}

.sync-dot {
  display: flex;
  width: 28px;
  height: 28px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background-color: var(--tw-green-10);
  border: 1px solid var(--tw-green-20);
  border-radius: 50%;
}

.lock {
  color: var(--tw-white);
}

.sync {
  color: var(--tw-green-80);
}
