.search {
  width: 320px;
}

.row {
  cursor: pointer;
}

.card {
  display: inline-block;
  color: var(--tw-primary-content);

  &:hover {
    text-decoration: underline;
  }
}

.merchant {
  display: flex;
  gap: var(--pd-10);
}

.receipt-cell {
  padding: var(--pd-10);
  padding-top: 0;
  cursor: pointer;
}

.receipt {
  margin-top: -4px;
  cursor: pointer;
}

.receipt-empty {
  color: var(--tw-gray-40);
}

.sub,
.merchant-type {
  margin-top: var(--pd-2);
  color: var(--tw-gray-60);
}

.merchant-type {
  text-transform: capitalize;
  opacity: 0.8;
}

.lock-dot {
  display: flex;
  width: 28px;
  height: 28px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background-color: var(--tw-gray-80);
  border-radius: 50%;
}

.error-dot {
  display: flex;
  width: 28px;
  height: 28px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background-color: var(--tw-amber-10);
  border: 1px solid var(--tw-amber-20);
  border-radius: 50%;
}

.lock {
  color: var(--tw-white);
}

.error {
  color: var(--tw-amber-80);
}

.expense-category-hierarchy {
  color: var(--tw-gray-60);
  font-size: var(--text-12);
}

.sync-popup-container {
  display: flex;
  width: 310;
  height: 120px;
  padding: 8px;
  flex-direction: column;
  justify-content: space-between;
}

.sync-button-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.sync-popup-text-container {
  display: flex;
  flex-direction: column;
}

.sync-popup-root {
  width: 310px;
  height: 120px;
  padding: 8px;
}
