:root {
  /* COLOR */
  --tw-black: #000;
  --tw-gray-70: #494948;
  --tw-gray-60: #616160;
  --tw-gray-40: #92918f;
  --tw-gray-30: #c2c2bf;
  --tw-gray-25: #f0f0f0;
  --tw-gray-20: #f3f2ef;
  --tw-gray-15: #f5f5f5;
  --tw-gray-10: #fbfbfa;
  --tw-white: #fff;
  --tw-dark: #02302f;
  --tw-medium: #1a4747;
  --tw-light: #44f075;
  --tw-sand: #f3f2ef;
  --tw-accent-100: #234941;
  --tw-accent-80: #49bb69;
  --tw-accent-70: #5bea83;
  --tw-accent-60: #7cee9c;
  --tw-accent-30: #adf5c1;
  --tw-accent-20: #bdf7cd;
  --tw-accent-10: #defbe6;
  --tw-green-80: #047857;
  --tw-green-70: #059669;
  --tw-green-65: #43fa76;
  --tw-green-60: #10b981;
  --tw-green-30: #44b96d;
  --tw-green-25: #b4f7b9;
  --tw-green-20: #d1fae5;
  --tw-green-15: #e7f8e8;
  --tw-green-10: #ecfdf5;
  --tw-red-80: #b91c1c;
  --tw-red-70: #dc2626;
  --tw-red-60: #ef4444;
  --tw-red-20: #fee2e2;
  --tw-red-10: #fef2f2;
  --tw-amber-80: #b45309;
  --tw-amber-70: #d97706;
  --tw-amber-50: #fbbf24;
  --tw-amber-20: #fef3c7;
  --tw-amber-10: #fffbeb;

  /* PADDING & MARGIN */
  --pd-2: 2px;
  --pd-4: 4px;
  --pd-8: 8px;
  --pd-10: 10px;
  --pd-12: 12px;
  --pd-14: 14px;
  --pd-16: 16px;
  --pd-24: 24px;
  --pd-32: 32px;
  --pd-40: 40px;
  --pd-48: 48px;

  /* FONT FAMILY */
  --font-main: 'Neue Montreal';
  --font-header: 'Telegraf';

  /* FONT WEIGHT: */
  --font-300: 300;
  --font-400: 400;
  --font-700: 700;

  /* FONT SIZE: */
  --text-10: 10px;
  --text-12: 12px;
  --text-14: 14px;
  --text-16: 15px;
  --text-18: 16px;
  --text-20: 18px;
  --text-24: 20px;
  --text-28: 24px;
  --text-32: 28px;
  --text-46: 33px;

  /* LINE HEIGHT: */
  --line-24: 24px;
  --line-28: 28px;

  /* RADIUS */
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;

  /* LETTER-SPACING */
  --ls-2: 2px;
  --ls-small: 0.01em;

  /* Z-INDEX */
  --z-index-page: 10;
  --z-index-side: 100;
  --z-index-modal: 1000;
  --z-index-dropdown: 1050;
  --z-index-messages: 1100;
}

@media (--bp-medium) {
  :root {
    /* FONT SIZE: */
    --text-10: 10px;
    --text-12: 12px;
    --text-14: 14px;
    --text-16: 16px;
    --text-18: 18px;
    --text-20: 20px;
    --text-24: 24px;
    --text-28: 28px;
    --text-32: 32px;
    --text-46: 46px;
  }
}

:root,
:root[theme='BLUE'] {
  --tw-primary-dark: var(--tw-accent-100);
  --tw-primary-content: var(--tw-accent-80);
  --tw-primary-bg: var(--tw-accent-70);
  --tw-primary-border: var(--tw-accent-30);
  --tw-primary-light: var(--tw-accent-10);
}

@font-face {
  font-family: 'Neue Montreal';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local(''), url('fonts/neue-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Montreal';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: local(''), url('fonts/neue-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Telegraf';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local(''), url('fonts/telegraf-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Telegraf';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: local(''), url('fonts/telegraf-700.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--tw-black);
  font-family: var(--font-main), sans-serif;
  font-size: var(--text-14);
  line-height: 1.4;
  background: var(--tw-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--tw-primary-content);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--tw-primary-bg);
    text-decoration: underline;
  }
}

ul {
  list-style-type: square;
  margin: 0;
  padding-inline-start: 20px;
}
