:root {
  /* gray */
  --tw-black: #000;
  --tw-gray-90: #181818;
  --tw-gray-80: #313030;
  --tw-gray-70: #494948;
  --tw-gray-60: #616160;
  --tw-gray-50: #7a7978;
  --tw-gray-40: #92918f;
  --tw-gray-30: #c2c2bf;
  --tw-gray-20: #f3f2ef;
  --tw-gray-10: #fbfbfa;
  --tw-white: #fff;

  /* onboarding */
  --tw-dark-green: #02302f;
  --tw-dark-lime-mint: #1a4747;

  /* accent */
  --tw-accent-100: #234941;
  --tw-accent-90: #2e614e;
  --tw-accent-80: #357457;
  --tw-accent-70: #3b885f;
  --tw-accent-60: #40a067;
  --tw-accent-50: #44b96d;
  --tw-accent-45: #5bea83;
  --tw-accent-40: #45d572;
  --tw-accent-30: #44f075;
  --tw-accent-20: #b4f7b9;
  --tw-accent-10: #e7f8e8;

  /* green */
  --tw-green-100: #064e3b;
  --tw-green-90: #065f46;
  --tw-green-80: #047857;
  --tw-green-70: #059669;
  --tw-green-60: #10b981;
  --tw-green-50: #34d399;
  --tw-green-40: #6ee7b7;
  --tw-green-30: #a7f3d0;
  --tw-green-20: #d1fae5;
  --tw-green-10: #ecfdf5;

  /* red */
  --tw-red-100: #7f1d1d;
  --tw-red-90: #991b1b;
  --tw-red-80: #b91c1c;
  --tw-red-70: #dc2626;
  --tw-red-60: #ef4444;
  --tw-red-50: #f87171;
  --tw-red-40: #fca5a5;
  --tw-red-30: #fecaca;
  --tw-red-20: #fee2e2;
  --tw-red-10: #fef2f2;

  /* amber */
  --tw-amber-100: #78350f;
  --tw-amber-90: #92400e;
  --tw-amber-80: #b45309;
  --tw-amber-70: #d97706;
  --tw-amber-60: #f59e0b;
  --tw-amber-50: #fbbf24;
  --tw-amber-40: #fcd34d;
  --tw-amber-30: #fde68a;
  --tw-amber-20: #fef3c7;
  --tw-amber-10: #fffbeb;

  /* PADDING & MARGIN */
  --pd-2: 2px;
  --pd-4: 4px;
  --pd-8: 8px;
  --pd-10: 10px;
  --pd-12: 12px;
  --pd-14: 14px;
  --pd-16: 16px;
  --pd-20: 20px;
  --pd-24: 24px;
  --pd-32: 32px;
  --pd-40: 40px;
  --pd-48: 48px;
  --pd-72: 72px;

  /* FONT FAMILY */
  --font-main: 'PP Neue Montreal';
  --font-header: 'Telegraf';

  /* FONT WEIGHT: */
  --font-300: 300;
  --font-400: 400;
  --font-700: 700;

  /* FONT SIZE: */
  --text-10: 10px;
  --text-12: 12px;
  --text-14: 14px;
  --text-16: 15px;
  --text-18: 16px;
  --text-20: 18px;
  --text-24: 20px;
  --text-28: 24px;
  --text-32: 28px;
  --text-46: 33px;

  /* LINE HEIGHT: */
  --line-24: 24px;
  --line-28: 28px;
  --line-32: 32px;
  --line-36: 36px;

  /* RADIUS */
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-25: 25px;

  /* LETTER-SPACING */
  --ls-2: 2px;
  --ls-small: 0.01em;

  /* Z-INDEX */
  --z-index-page: 10;
  --z-index-side: 100;
  --z-index-modal: 1000;
  --z-index-dropdown: 1050;
  --z-index-messages: 1100;
}

@media (--bp-medium) {
  :root {
    /* FONT SIZE: */
    --text-10: 10px;
    --text-12: 12px;
    --text-14: 14px;
    --text-16: 16px;
    --text-18: 18px;
    --text-20: 20px;
    --text-24: 24px;
    --text-28: 28px;
    --text-32: 32px;
    --text-46: 46px;
  }
}

:root,
:root[theme='BLUE'] {
  --tw-primary-dark: var(--tw-accent-100);
  --tw-primary-content: var(--tw-accent-50);
  --tw-primary-bg: var(--tw-accent-30);
  --tw-primary-border: var(--tw-accent-30);
  --tw-primary-light: var(--tw-accent-10);
}

@font-face {
  font-family: 'PP Neue Montreal Book';
  src: url('fonts/PPNeueMontreal-Book.woff2') format('woff2'), url('fonts/PPNeueMontreal-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('fonts/PPNeueMontreal-Italic.woff2') format('woff2'), url('fonts/PPNeueMontreal-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('fonts/PPNeueMontreal-BoldItalic.woff2') format('woff2'),
    url('fonts/PPNeueMontreal-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
    url('fonts/PPNeueMontreal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('fonts/PPNeueMontreal-ThinItalic.woff2') format('woff2'),
    url('fonts/PPNeueMontreal-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('fonts/PPNeueMontreal-Medium.woff2') format('woff2'), url('fonts/PPNeueMontreal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal Book';
  src: url('fonts/PPNeueMontreal-BookItalic.woff2') format('woff2'),
    url('fonts/PPNeueMontreal-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('fonts/PPNeueMontreal-MediumItalic.woff2') format('woff2'),
    url('fonts/PPNeueMontreal-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('fonts/PPNeueMontreal-Thin.woff2') format('woff2'), url('fonts/PPNeueMontreal-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('fonts/PPNeueMontreal-LightItalic.woff2') format('woff2'),
    url('fonts/PPNeueMontreal-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('fonts/PPNeueMontreal-Light.woff2') format('woff2'), url('fonts/PPNeueMontreal-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('fonts/PPNeueMontreal-SemiBoldItalic.woff2') format('woff2'),
    url('fonts/PPNeueMontreal-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('fonts/PPNeueMontreal-SemiBold.woff2') format('woff2'),
    url('fonts/PPNeueMontreal-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('fonts/PPNeueMontreal-Bold.woff2') format('woff2'), url('fonts/PPNeueMontreal-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  font-display: swap;
  font-weight: 200;
  font-style: normal;
  src: url('fonts/pptelegraf-ultralight-webfont.woff2') format('woff2'),
    url('fonts/pptelegraf-ultralight-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Telegraf';
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: url('fonts/pptelegraf-light-webfont.woff2') format('woff2'),
    url('fonts/pptelegraf-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Telegraf';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('fonts/pptelegraf-regular-webfont.woff2') format('woff2'),
    url('fonts/pptelegraf-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Telegraf';
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url('fonts/pptelegraf-medium-webfont.woff2') format('woff2'),
    url('fonts/pptelegraf-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Telegraf';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url('fonts/pptelegraf-semibold-webfont.woff2') format('woff2'),
    url('fonts/pptelegraf-semibold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Telegraf';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url('fonts/pptelegraf-bold-webfont.woff2') format('woff2'),
    url('fonts/pptelegraf-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Telegraf';
  font-display: swap;
  font-weight: 800;
  font-style: normal;
  src: url('fonts/pptelegraf-ultrabold-webfont.woff2') format('woff2'),
    url('fonts/pptelegraf-ultrabold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Telegraf';
  font-display: swap;
  font-weight: 900;
  font-style: normal;
  src: url('fonts/pptelegraf-black-webfont.woff2') format('woff2'),
    url('fonts/pptelegraf-black-webfont.woff') format('woff');
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--tw-black);
  font-family: var(--font-main), sans-serif;
  font-size: var(--text-14);
  line-height: 1.4;
  background: var(--tw-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: square;
  margin: 0;
  padding-inline-start: 20px;
}
