.root {
  min-height: 100vh;
  padding: var(--pd-48) var(--pd-24);
  color: var(--tw-white);
  background: var(--tw-dark);

  @media (--bp-large) {
    padding: var(--pd-48);
  }
}

.header {
  padding-bottom: var(--pd-24);

  @media (--bp-large) {
    padding-bottom: 80px;
  }
}

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
