.root {
  padding: 0 var(--pd-24);

  @media (--bp-large) {
    width: 260px;
  }
}

.header {
  padding: var(--pd-24) 0;

  @media (--bp-large) {
    padding: var(--pd-40) 0 var(--pd-24);
  }
}

.title {
  margin: 0 0 var(--pd-4);
  font-family: var(--font-header);
  font-size: var(--text-28);
  font-weight: var(--font-700);
  line-height: var(--line-36);
}

.content {
  padding: var(--pd-16) 0;
}

.divider {
  margin: 0;
}
