.root {
  display: flex;
  align-items: center;
  color: var(--tw-gray-60);
  font-size: var(--text-14);
  border-right: 3px solid transparent;
  transition: background-color 0.3s, border-right-color 0.3s;

  &:hover:not(.active) {
    color: var(--tw-black);
    background-color: var(--tw-gray-10);
    border-right-color: var(--tw-gray-10);
  }
}

.small {
  font-size: var(--text-12);
}

.active {
  color: var(--tw-black);
  font-weight: var(--font-700);
  background-color: var(--tw-white);
  border-right-color: var(--tw-primary-border);
}

.expanded {
  display: flex;
}

.item {
  display: flex;
  width: 100%;
  min-height: 40px;
  padding: var(--pd-10) var(--pd-12);
  align-items: center;
  color: inherit;
  font: inherit;
  text-align: left;
  text-decoration: none;
  background: transparent;
  border: 0;
  cursor: pointer;

  @nest .active & {
    cursor: default;
  }
}

.icon {
  margin-right: var(--pd-8);
  flex-shrink: 0;
}

.name {
  display: block;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.more {
  width: auto;
  height: auto;
  margin-left: var(--pd-8);
  padding: var(--pd-8);

  &:hover {
    color: var(--tw-black);
    background: transparent;
  }
}

.more-icon {
  transition: transform 0.3s;
  transform-origin: center;

  @nest .expanded & {
    transform: rotate(90deg);
  }
}
