@value v-side-width: 560px;

.root {
  position: relative;
  min-height: 100vh;
  padding: var(--pd-48) 6vw;
  color: var(--tw-white);
  background: var(--tw-dark-green);

  @media (--bp-large) {
    padding: var(--pd-48) calc(v-side-width + var(--pd-24)) var(--pd-48) var(--pd-48);
  }
}

.content form > div:not(:global(.fullwidth)) {
  max-width: 392px;
}

.header {
  padding-bottom: var(--pd-24);

  @media (--bp-large) {
    padding-bottom: 80px;
  }
}

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.second-btn {
  margin-left: var(--pd-24);
  padding: var(--pd-16);
  color: var(--tw-black);
  background-color: var(--tw-gray-20);
  border-radius: 4px;
}

.extra-description {
  display: block;
  max-width: 625px;
  margin: -10px 0 22px;
  font-size: var(--text-18);
}

.radio-label {
  font-size: var(--text-14);
  line-height: 1.4;
}

.radio-extra {
  display: flex;
  margin-top: var(--pd-12);
  font-size: var(--text-12);
  line-height: 1.33;
}

.radio-extra svg {
  width: 60px;
  margin-right: var(--pd-12);
}

.side {
  position: absolute;
  top: 0;
  right: 0;
  width: v-side-width;
  height: 100%;
}

.side-content {
  position: sticky;
  top: 0;
  display: flex;
  max-height: 100vh;
  margin-top: 120px;
  align-items: flex-start;
  justify-content: center;
  cursor: default;
}
