.root {
  display: flex;
  width: 100%;
  flex-direction: column;

  @media (--bp-large) {
    flex-direction: row;
  }

  & + & {
    margin-top: var(--pd-20);
  }
}

.header {
  margin-bottom: var(--pd-24);
  flex-shrink: 0;

  @media (--bp-large) {
    width: 240px;
  }

  @media (--bp-wide) {
    width: 320px;
  }
}

.title {
  margin: 0 0 var(--pd-4);
  font-family: var(--font-header);
  font-size: var(--text-20);
  font-weight: var(--font-400);
}

.description {
  color: var(--tw-gray-60);
  font-size: var(--text-12);
  line-height: 1.33;
}

.content {
  font-size: var(--text-14);

  @media (--bp-large) {
    margin-left: var(--pd-48);
    flex-grow: 1;
  }
}
