.root {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: var(--pd-10) var(--pd-8);
  align-items: center;
  grid-gap: var(--pd-10);
  font-size: var(--text-12);
  line-height: var(--line-16);
}

.amount {
  font-weight: var(--font-400);
  text-align: right;
}
